<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @book_item.status %>
</p>

<p>
  <strong>Book:</strong>
  <%= @book_item.book_id %>
</p>

<%= link_to 'Edit', edit_book_item_path(@book_item) %> |
<%= link_to 'Back', book_items_path %>
